<%= form_with model: @list, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit({:class => 'btn btn-success'}) %>
  </p>
<% end %>
