<style>
  .todolist a:link {
    color: purple;
    background-color: transparent;
    text-decoration: none;
  }
  .todolist a:visited {
    color: purple;
  }
  .todolist a:hover {
    color: green;
  }
  .todolist a:active {
    color: green;
  }
  .todolist_action a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  .todolist_action a:visited {
    color: green;
  }
  .todolist_action a:hover {
    color: purple;
  }
  .todolist_action a:active {
    color: purple;
  }
</style>
<h1>All lists</h1>

<strong>Name:</strong>
<% @lists.each do |list| %>
  <div class="alert alert-info todolist">
    <%= link_to list.name, list_path(list) %>
    <p class="todolist_action">
      <%= link_to 'Edit List Name', edit_list_path(list) %>
      <%= link_to 'Delete List', list_path(list.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
<% end %>
