<h3>
  <strong>List name: </strong>
  <%= @list.name %>
</h3>

<h6><strong>Complete Items</strong></h6>
<% @list.items.complete.each do |item| %></td>
  <div class="alert alert-success">
    <% next if item.id.nil? %>
    <%= render item %>
    <%= link_to "Incomplete", incomplete_path(id: item.id), method: :get %>
  </div>
<% end %>

<h6> <strong>Incomplete Items</strong></h6>
<% @list.items.incomplete.each do |item| %></td>
  <div class="alert alert-primary">
    <% next if item.id.nil? %>
    <%= render item %>
    <%= link_to "Complete", complete_path(id: item.id), method: :get %>
  </div>
<% end %>
<br>
<h3>Add a item:</h3>
<%= render 'items/form' %>
<style>
  a:link { color: green; text-decoration: none;}
  a:visited { color: green; }
</style>
<%= link_to 'Back', lists_path %>
