<%= form_with model: @item do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <%= form.hidden_field :list_id, value: @item.list_id %>
  <p>
    <%= form.submit({:class => 'btn btn-success'})%>
  </p>
<% end %>
