<strong><%= item.name %></strong>
<pre><strong>Description: </strong><%= item.description %></pre>
<%= link_to 'Edit Item', edit_item_path(item) %>
<%= link_to 'Delete Item', item_path(item.id), method: :delete, data: { confirm: 'Are you sure?' } %>
