<!DOCTYPE html>
<style>
  .todolist_bar_main a:link { color: black; text-decoration: none;}
  .todolist_bar_main a:visited { color: black;}
  .todolist_bar_main a:hover { color: black;}
  .todolist_bar_main a:active { color: black;}
  .todolist_bar a:link { color: white;  text-decoration: none;}
  .todolist_bar a:visited { color: white;}
  .todolist_bar a:hover { color: #F1F6FB;}
  .todolist_bar a:active { color: #F1F6FB;}
</style>
<html>
  <head>
    <title>TodoList</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="text-dark d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm ">
      <h2 class="my-0 mr-md-auto font-weight-bold todolist_bar_main"><%= link_to"ToDo Lists", lists_path%></h2>
      <nav class="my-2 my-md-0 mr-md-3">
         <span class="btn btn-primary  todolist_bar"><%= link_to 'New List', new_list_path %></span>
      </nav>
      <span class="btn btn-info  todolist_bar" ><%=link_to 'Sign in', new_user_session_path %></span>
      <span class="btn btn-info  todolist_bar" ><%=link_to('Logout', destroy_user_session_path, method: :delete)%></span>
    </div>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
